.color1{
    color:red;
    font-weight: bold;
}
.color2{
    color:#03a9f3;
    font-weight: bold;
}
.color3{
    color:#fec107;
    font-weight: bold;
}
.color4{
    color:#00c292;
    font-weight: bold;
}
.color5{
    color:#4c5667;
    font-weight: bold;
}
.color6{
    color:#4c5667;
    font-weight: bold;
}
.color7{
    color:red;
    font-weight: bold;
}
.color8{
    color:#4c5667;
    font-weight: bold;
}
.color9{
    color:#9675ce;
    font-weight: bold;
}